@import '../global/parts';

.hero {
  height: 90vh;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

._{
  .cardWrapper{
    display: flex;
    flex-direction: column;
    :nth-child(odd){
      flex-direction: row-reverse ;
    }
  }

  .arrow-up{
    transform: rotate3d(1, 1, 1, -45deg);
    color: $base_color;
  }
  .arrow-down{
      transform: rotate3d(1, 1, 1, 45deg);
      color: $base_color;
  }
}

