@import "../global/parts";

.card {
  display: flex;
  flex-wrap: wrap;

  .imageWrapper {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include _minWidthTablet {
      width: 50%;
    }
  }
  .contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    gap: 1rem;

    @include _minWidthTablet {
      width: 50%;
    }
    @include _minWidthMedium{
      padding: 120px;
    }

    h2 {
      font-family: "Bullshorn WF";
      font-size: 35px;
    }

    .content {
      color: #031023;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .link {
      width: 80%;
      flex-direction: revert;
      max-width: 320px;
      border: 2px solid $base_color;
      font-family: "Bullshorn WF";
      font-weight: normal;
      font-style: normal;
      color: $base_color;
      font-size: 0.75rem;
      padding: 10px;
      background: none;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.odd {
  flex-direction: row-reverse;
}
