@import '../global/parts';
._ {
  background-color: $teal_blue;
  color: $white;
  text-align: center;
  position: relative;
  padding: 40px;
  h1 {
    margin-top: 0;
  }

  .meme__text {
    font-size: 2.125rem;
    margin: 30px 0;
    @include _script_font;
    color: $light_blue;
  }
  .main__title {
    @include _title_font;
    font-size: 1.625rem;
  }
  @include _minWidthMobile {
    .main__title {
      font-size: 3rem;
      padding: 0;
    }
  }
}
.hero {
  height: 45vw;
  width: 100%;
}
.main__content {
  margin-bottom: 3rem;
  p {
    @include _base_font;
    line-height: 4rem;
  }
}
.content {
  max-width: 900px;
  margin: 0 auto;
  p {
    @include _base_font;
    line-height: 1.6rem;
  }
}
.container {
  @include _container;
}

.link {
  width: 100%;
  max-width: 450px;
  border: 2px solid $white;
  @include _title_font;
  color: $white;
  font-size: 0.75rem;
  padding: 10px 20px;
  margin: 0 auto;
  background: none;
  text-transform: uppercase;
  text-align: center;
}
